@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
    font-family: 'Pretendard', sans-serif;
    text-align: left;
}

/* CSS targeting header elements */
header {
    text-align: left;
    margin: 0 46px;
}
header h1 {
    font-weight: 100; /* Thin */
    font-size: 64px;
    margin-bottom: 14px;
}
header h2,
header h3 {
    font-weight: 400; /* Regular */
    font-size: 20px;
    margin-bottom: 14px;
}
header h4 {
    font-weight: 400; /* Regular */
    font-size: 12px;
    margin-top: 11px;
    margin-bottom: 30px;
}

/* λΈν†µ */
section {
    margin: 5px 46px; /* 5px top and bottom, 46px left and right */
}
section h1 {
    font-weight: bold;
    font-size: 40px;
}
section p {
    font-weight: 400; /* Regular */
    font-size: 20px;
}
/* Additional styling for the list items inside <p> */
section p ul {
    list-style-type: disc;
    margin-left: 20px;
}